.content-wrapper {
   overflow: auto;
}

.box-body {
   padding-left: 20px;
   padding-right: 20px;
}

.noUi-handle {
   display: none;
}

.skin-blue .content-wrapper,
.right-side {
   background-color: #ffffff;
}

.progress-bar-plum,
.radio-plum {
   background-color: #497EA5;
}

.updatebttn {
   background-color: #CFE5C2;
   border-color: #AAAAAA;
   color: #000000;
}

.minibttn {
   border-color: #000000;
   font-size: 80%;
   color: #000000;
   padding: 0px;
   width: 26px;
   height: 20px;
}

.usebttn {
   background-color:#BDC3C7;
   position: relative;
   bottom: 2px;
   right: 5px;
}

.volrmbttn {
   background-color: #CCFF00;
   border-color: #1E1E1E;
}

.sw-no-ui-slider {
   margin: 0 !important;
}

[disabled] .noUi-connects {
   background: #B8B8B8;
}

.GO-bar {
   border-color: black;
   border-radius: 2px;
   padding: 2px 1px;
}

.plot-title {
   font-family: serif;
   text-align: center;
   line-height: 1;
   font-size: 17.6px;
   font-weight: 100;
   color: #000;
}

.tooltip-inner {
   max-width: 400px !important;
   word-break: break-all;
}

.centered {
   text-align: center;
}

.plain-text {
   font-size: 18px;
   text-align:left;
}

.seq-site {
   position: absolute;
   height: 90%;
   top: 5%;
   width: 4%;
   background-color: #58BD6A;
   border: solid 1px #3337;
   border-radius: 5px;
   transform: translateX(-50%);
}

.seq-cell {
   position: relative;
}

.outline-seq {
   position: relative;
   text-shadow: -1px 0 #eee,
                0 -1px #eee,
                1px  0 #eee,
                0  1px #eee;
}

.seq-highlight {
   border: 1px solid;
   border-radius: 5px;
   margin: 0px -1px;
}

.scroll-x {
   white-space: nowrap;
   overflow-x: scroll;
   overflow-y: hidden;
}

.site-color {
   color: #58BD6A
}

.ellipsis {
   text-overflow: ellipsis;
   overflow: hidden;
}

#idUI {
   margin:5px 10px;
   color: #fff;
   text-align: right;
}

#datasetName {
   font-size: 35px;
   font-weight: bold;
   text-align: center;
   color: #fff;
}

/* DataTable overflow and scrolling fixes */
.dataTables_wrapper {
   overflow-x: auto;
   width: 100%;
}

.dataTables_scrollHead,
.dataTables_scrollBody {
   overflow-x: auto !important;
}

.box .box-body {
   overflow-x: auto;
}

/* Ensure correlation tables don't overflow their containers */
#table_correlation_all_wrapper,
#table_correlation_significant_wrapper {
   overflow-x: auto;
   width: 100%;
}

/* Fix for wide tables in boxes */
.box-body .dataTables_wrapper {
   overflow-x: auto;
   margin: 0 -20px;
   padding: 0 20px;
}
