.content-wrapper { overflow: auto; }

#colorPalPreset~.selectize-control .option:nth-child(1) {
   background-color: white;
   color: black;
}

#colorPalPreset~.selectize-control .option:nth-child(2) {
   background-color: #756027;
   color: #F7FFA1;
}

#colorPalPreset~.selectize-control .option:nth-child(3) {
   background-color: #B3CDE3;
   color: #756F6E;
}

#colorPalPreset~.selectize-control .option:nth-child(4) {
   background-color: #FF0000;
   color: #0000FF;
}

#colorPalPreset~.selectize-control .option:nth-child(5) {
   background-color: #FF8000;
   color: #870D0D;
}

#colorPalPreset~.selectize-control .option:nth-child(6) {
   background-color: #00A600;
   color: #5E2006;
}

#colorPalPreset~.selectize-control .option:nth-child(7) {
   background-color: #FFFF00;
   color: #4C00FF;
}

#colorPalPreset~.selectize-control .option:nth-child(8) {
   background-color: #FF80FF;
   color: #FFFFFF;
}

#colorPalPreset~.selectize-control .option:nth-child(9) {
   background-color: #9D00FF;
   color: #E6FB04;
}

#colorPalPreset~.selectize-control .option:nth-child(10) {
   background-color: black;
   color: #483D8B;
}

#colorPalPreset~.selectize-control .option:nth-child(11) {
   background-color: #94E8B4;
   color: #336145;
}

#colorPalPreset~.selectize-control .option:nth-child(12) {
   background-color: #FF8A5B;
   color: #F5F0ED;
}

.username {
   display: flex;
   align-items: center;
   min-height: 50px;
   padding-right: 17px;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   color: white;
   font-size: 17px;
}

.progress-bar-steel {
   background-color: #387D8C;
}

.bttn{
   color: #fff;
   font-family: Arial;
   background-color: #4B966E;
   border-color: #4B966E;
   height: 50px;
   font-size:120%
}

.box-header .box-title {
   font-size: 24px;
}

.mfb-slidein {
   z-index: 1001;
}

/* Sticky footer */
footer {
   position: sticky;
   color: #fff;
   background-color: #497EA5;
   bottom: 0;
   width: 100%;
   z-index: 1000;
   padding: 2px 10px;
}
